<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Nodejs site admin</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Nodejs administration</h1>
        </div>
    </header>
    <main class="main container">
        <div class="tab">
            <div class="tab-item">
                <a href="/photos" class="tab-title">PHOTOS</a>
            </div>
        </div>
    </main>
</body>
</html>